.container-fluid {
    height: 85%;
}

.container div span {
    font-weight: bold;
    font-size: large;
}

.btn {
    font-size: x-small;
    height: 2rem;
    margin: 0 .2rem;
}

.col-2 .btn {
    height: 3.4rem;
}

.btn-custom {
    background-color: var(--orange);
    color: white;
}

.btn-custom mat-icon {
    font-size: 1.5rem;
}

.container .d-flex .btn mat-icon {
    font-size: 1rem;
}

table {
    width: 100%;
}

td,
th {
    width: 25%;
    font-size: .8rem;
}