<app-header></app-header>
 
  <!-- Modal -->
  <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="get" class="modal-content modal-body border-0 p-0">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                <button type="submit" class="input-group-text bg-success text-light">
                    <i class="fa fa-fw fa-search text-white"></i>
                </button>
            </div>
        </form>
    </div>
  </div>
  
  
  
  <!-- Start Banner Hero -->
  <div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators" style="list-style: none;">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active" style="display: none;"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1" style="display: none;"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2" style="display: none;"></li>
      </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/gigachad.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Stylish</b> Hair Cut</h1>
                            <h3 class="h2">Es más que un simple servicio de corte de cabello</h3>
                            <p>
                                Es una experiencia 
                                única en la que la elegancia y la modernidad se fusionan para crear looks
                                distintivos y a la moda. Nuestros expertos estilistas están dedicados a 
                                resaltar la individualidad de cada cliente, proporcionando cortes de cabello 
                                que no solo siguen las últimas tendencias, sino que también se adaptan a la 
                                personalidad y estilo de vida de cada persona.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/gigachad2.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Body Massage</h1>
                            <h3 class="h2">Imagina entrar en un santuario de serenidad dentro de nuestra barbería</h3>
                            <p>
                                Donde la iluminación suave y la música relajante te envuelven. 
                                Comienza tu experiencia con una consulta personalizada para adaptar 
                                cada masaje a tus necesidades específicas. Desde masajes relajantes 
                                hasta terapias más profundas, cada sesión está diseñada para liberar 
                                las tensiones acumuladas y revitalizar tanto el cuerpo como la mente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="./assets/img/gigachad3.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Beard Style</h1>
                            <h3 class="h2">Nuestros barberos expertos </h3>
                            <p>
                                Comprenden que la barba es una declaración 
                                de moda en sí misma. En cada sesión, comenzamos con una consulta personalizada
                                para comprender tus preferencias y el estilo que deseas lograr. Ya sea que 
                                busques un look clásico, moderno o audaz, nuestro equipo está aquí para dar 
                                vida a tu visión.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
  </div>

  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Categorias del Mes</h1>
            <p>
                ¡Bienvenido a nuestra exclusiva selección "Categorías del Mes", 
                donde la elegancia se encuentra con la precisión. En BarberPro,
                destacamos las últimas tendencias en cortes de cabello para elevar tu experiencia 
                de cuidado personal.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/image1.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Afeitado y Recorte de Barba</h2>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/image2.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Cortes de Pelo</h2>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="./assets/img/image3.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Coloración de Barba y Cabello</h2>
            <p class="text-center"><a class="btn btn-success">Comprar</a></p>
        </div>
    </div>
  </section>

  <section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Presentando Productos</h1>
                <p>
                    ¡Descubre nuestra exclusiva selección de productos destacados en el mundo de la barbería!
                    Sumérgete en la excelencia de herramientas y productos diseñados para elevar tu experiencia
                    de cuidado personal. Desde las últimas tendencias en estilismo hasta productos especializados
                    para el cuidado de la barba y el cabello, cada artículo ha sido cuidadosamente seleccionado 
                    para ofrecerte lo mejor en calidad y estilo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/image4.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$240.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Cepillo de Barba de Pura Elegancia</a>
                        <p class="card-text">
                            Añade un toque de elegancia a tu rutina diaria con nuestro Cepillo de Barba 
                            de Pura Elegancia. Este cepillo de cerdas suaves desenreda y suaviza tu barba, 
                            a la vez que le da un brillo natural. Descubre la simplicidad y sofisticación 
                            en cada pasada.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/image5.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$480.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Máquina de Afeitar Épica</a>
                        <p class="card-text">
                            Experimenta la perfección del afeitado con nuestra Máquina de Afeitar Épica. 
                            Diseñada para ofrecer un afeitado preciso y cómodo, esta herramienta es el 
                            compañero ideal para mantener tu estilo impecable.
                        </p>
                        <p class="text-muted">Reviews (48)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="./assets/img/image6.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">$360.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Set de Afeitado Clásico</a>
                        <p class="card-text">
                            Abraza la tradición con nuestro Set de Afeitado Clásico. Incluye todo lo necesario 
                            para un afeitado suave y tradicional. Desde la brocha de afeitar hasta la crema espumante, 
                            cada elemento refleja la artesanía atemporal para una experiencia única.
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <app-footer></app-footer>